/* FONT OF THE TITLE */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap;500&family=Inspiration&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Qwitcher+Grypen:wght@400;700&display=swap');

/* BOOTSTRAP ICONS FOR CONTACT */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


.myTitle{
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 9VW;
  word-wrap: break-word;
  white-space: normal;
  text-shadow: -4px -3px 6px rgba(255, 242, 0, 0.7);
}

h1{
  color: rgb(255, 190, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
  color:  rgb(223, 223, 132);
}
a:hover{
  color:chartreuse;
}

/* ANIMATION */
@keyframes Turn{
  /* 0% {transform : rotate(1deg)}; */
  100% {transform : rotate(360deg)};
}
.turningLogo{
  /* transform : rotate(-180deg); */
  animation: 2s ease-in 1s 1  Turn;
}

/* CONTACT US */
.myBtonSocial{
  background-color: black;
  margin:10px;
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0%;
  border:1px solid rgb(223, 223, 132);
  box-shadow: rgba(248, 185, 50, 0.74) 0px 0px 20px 0px;
  font-size: 3rem;
}
.myBtonSocial:hover{
  box-shadow: white 0px 0px 40px 0px;
}
.myFB{
  /* color:rgb(66, 103, 178); official FB color*/
  color:aqua;
}
.myMail{
  color:gold;
}
.myTel{
  color:greenyellow
}

.myActive{
  border:1px solid rgba(248, 185, 50, 0.74);
  border-radius: 9%;
  color: white;
  background-color: rgb(80, 80, 80);
  background-color: brown;
}

.myYellow{
  color: rgb(223, 223, 132);
}

.myStickers{
  max-width: 450px;
}
.myInnerImg {
  transition: 0.3s;
}
.myInnerImg:hover {
  transform: scale(1.25);
}


/* RESPONSIVITY : WIDTH VALUES INFERIOR 350px LARGE */
.myLogo{
  background-image: url("../IMG/logoZinzins.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    border: 2px solid orange;
    box-shadow: 0 0 5px rgba(255, 255, 255,0.92);
}
.myVertical{
  bottom: 10%; 
  left:10px;
  color:white;
}
.myWidth{
  max-width: 95%;
}
.myWidthSmall{
  max-width: 95%;
  max-width: 500px;
}

/* RESPONSIVITY : WIDTH VALUES from 350px to 849px LARGE */
@media (min-width: 350px){
  .myLogo{
    height: 4em;
    width: 4em;
  }
  .myVertical{
    bottom:9%;
    left:10px;
    color:white;
  }
  .myTitle{
    font-size: 7VW;
    word-wrap: normal;
    white-space: nowrap;
  }
  .myWidth{
    max-width: 85%;
  }
  .myWidthSmall{
    max-width: 95%;
    max-width: 500px;
  }
}

/* RESPONSIVITY : WIDTH VALUES MORE THAN 850px LARGE*/
@media (min-width: 850px){
  .myLogo{
    height: 5em;
    width: 5em;
  }
  .myVertical{
    bottom:9%;
    left:15px;
    color:white;
  }
  .myTitle{
    font-size: 7VW;
  }
  .myWidth{
    max-width: 650px;
  }
  .myWidthSmall{
    max-width: 500px;
  }
}

body{
  padding: 0;
  background-image: url("../IMG/logoZinzins.jpg");
  background-origin: padding-box;
  background-repeat: no-repeat;
  /* background-clip: content-box; */
  background-size: 3em;
}