/* FONT OF THE TITLE */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap;500&family=Inspiration&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Qwitcher+Grypen:wght@400;700&display=swap');

/* ANIMATION */

@keyframes Turn{
  /* 0% {transform : rotate(1deg)}; */
  100% {transform : rotate(360deg)};
}
.turningLogo{
  /* transform : rotate(-180deg); */
  animation: 2s ease-in 1s 1  Turn;
}

.toto{
  border: 1px solid red;
  display: block;
  width: 30px;
  height: 30px;
}


.myActive{
  border:1px solid rgba(248, 185, 50, 0.74);
  border-radius: 9%;
  color: white;
  background-color: rgb(80, 80, 80);
}

.myYellow{
  color: rgb(223, 223, 132);
}

.myStickers{
  max-width: 300px;
}
.INNER-IMG {
  transition: 0.3s;
}
.INNER-IMG:hover {
  transform: scale(1.1);
}


/* RESPONSIVITY : WIDTH VALUES INFERIOR 350px LARGE */
.myLogo{
  background-image: url("../IMG/logoZinzins.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    border: 2px solid orange;

}
.myVertical{
  bottom: 10%; 
  left:10px;
  color:white;
}
.myH1{
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 9VW;
  word-wrap: break-word;
  white-space: normal;
}
.myWidth{
  max-width: 95%;
}
.myWidthSmall{
  max-width: 90%;
}

/* RESPONSIVITY : WIDTH VALUES from 350px to 849px LARGE */
@media (min-width: 350px){
  .myLogo{
    height: 4em;
    width: 4em;
  }
  .myVertical{
    bottom:9%;
    left:10px;
    color:white;
  }
  .myH1{
    font-size: 7VW;
    word-wrap: normal;
    white-space: nowrap;
  }
  .myWidth{
    max-width: 85%;
  }
  .myWidthSmall{
    max-width: 75%;
  }
}

/* RESPONSIVITY : WIDTH VALUES MORE THAN 850px LARGE*/
@media (min-width: 850px){
  .myLogo{
    height: 5em;
    width: 5em;
  }
  .myVertical{
    bottom:9%;
    left:15px;
    color:white;
  }
  .myH1{
    font-size: 7VW;
  }
  .myWidth{
    max-width: 650px;
  }
  .myWidthSmall{
    max-width: 500px;
  }
}
